APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723

ANDROID_DEVICE_NAME=Pixel 8
ANDROID_UDID=emulator-5554
ANDROID_PLATFORM_VERSION=

APP_PACKAGE=com.hammerloop.app
APP_ACTIVITY=com.example.mobile_app.MainActivity

TEST_ENV=staging